<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Restocheck Demo</title>
        {% block javascripts %}
            {% javascripts '@AcmeFeedbackBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}    
        {% block stylesheets %}    
            {% stylesheets '@AcmeFeedbackBundle/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}    
      {% for aQuestionList in aQuestions %}          
        {% if aQuestionList['question_type'] == 'slider' %}
            {% block genemu_jqueryslider_javascript %}
                {% spaceless %}
                    <script type="text/javascript">
                        jQuery(document).ready(function($) {
                            var $field = $('#{{sFormName}}_{{ aQuestionList['display_text'] }}');
                            var $configs = $.extend({{ configs|json_encode|raw }}, {
                                value: {{ value ? value : 0 }},
                                slide: function(event, ui) {
                                    $field.val(ui.value);
                                }
                            });

                            $('#{{sFormName}}_{{ aQuestionList['display_text'] }}_slider').slider($configs);
                        });
                    </script>
                {% endspaceless %}
            {% endblock genemu_jqueryslider_javascript %}
        {% endif %}
      {% endfor %}
    </head>
    <body>
        {{ form_start(form) }}
        
        {% for key, value in form %}
            {% set key = value %}
        {% endfor %}
        {{ form_end(form) }}
    </body>    
</html>